<div class="container px-5 px-sm-0">
<h1>商品編集</h1>

  <div class="row">
    <%= form_with model: @item, url: admin_update_item_path(@item.id), method: :patch do |f| %>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th></th>
            <th></th>
           </tr>
         </thead>
        <tbody>
          <tr>
            <th>商品画像</th>
            <th><%= f.file_field :image, accept: "image/*" %></th>
          </tr>
          <tr>
            <th>商品名</th>
            <th><%= f.text_field :name %></th>
          </tr>
          <tr>
            <th>商品説明</th>
            <th><%= f.text_area :introduction %></th>
          </tr>
          <tr>
            <th>ジャンル</th>
            <th><%= f.collection_select(:genre_id, @items, :id, :name, prompt: '選択してください') %></th>
          </tr>
          <tr>
            <th>税抜価格</th>
           <th><%= f.text_field :price %>円</th>
          </tr>
        </tbody>
      </table>
      <%= f.submit "変更を保存", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
