<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-10">
      <h2>商品一覧</h2>
    </div>
    <div class="col-lg-2">
      <div class="text-right">
        <%= link_to "商品新規登録", new_admin_item_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="table-secondary">
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
    <tbody>
      <th><%= item.id %></th>
      <th>
        <%= link_to admin_item_path(item.id) do %>
          <div class="text-dark"><%= item.name %></div>
        <% end %>
        </th>
      <th><%= item.price %></th>
      <th><%= item.genre.name %></th>
    </tbody>
    <% end %>
  </table>
  <%= paginate @items %>
</div>