<h2>配送先登録/一覧</h2>
<div>
  <%= form_with model: @address, url: address_create_path do |f| %>
    <div>
      <strong><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></strong>
      <%= f.text_field :postal_code %>
    </div>
    <div>
      <strong><%= f.label :address, "住所" %></strong>
      <%= f.text_field :address %>
    </div>
    <div>
      <strong><%= f.label :name, "宛名" %></strong>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "新規登録" %>
  <% end %>
</div>

<div>
  <div>
    <p>郵便番号</p>
    <p>住所</p>
    <p>宛名</p>
    <p></p>
  </div>

  <div>
    <% @addresses.each do |address| %>
      <div>
        <%= address.postal_code %>
      </div>
      <div>
        <%= address.address %>
      </div>
      <div>
        <%= address.name %>
      </div>
      <div>
        <%= link_to "編集する", edit_addresses_path %>
        <%= link_to "削除する", path(@address.id), method: :delete %>
      </div>
    <% end %>
  </div>
</div>