<div class="container px-5 px-sm-0">
  <h2>ショッピングカート</h2>
  <%= button_to "カートを空にする", cart_items_destroy_all_path(current_customer.id), method: :delete %>
  <table class="table table-bordered">
    <thead>
      <tr class="table-secondary">
        <th>商品</th>
        <th>単価(税込み)</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </thead>

      <tbody>
        <% @cart_items.each do |cart_item| %>
        <th>
          <%#= image_tag cart_item.image %>
          <%= cart_item.item.name %>
        </th>
        <th>
          <%#= @cart_items.add_tax_price %>
        </th>
        <th>
          <%= form_with model: cart_item, url: cart_item_update_path(cart_item.id), method: :patch do |f| %>
            <%= f.hidden_field :amount, :value => cart_item.amount %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit '変更' %>
          <% end %>
        </th>
        <th>
          <%= cart_item.subtotal %>
        </th>
        <th>
          <%= link_to '削除する', cart_item_destroy_path(cart_item.id), method: :delete %>
        </th>
      </tbody>
      <% end %>
    </thead>
  </table>

  <div>
    <%= link_to '買い物を続ける', items_path %>
  </div>
  <div>
    <p>合計金額</p>
    <% @cart_items.each do |cart_item| %>
    <div>
      <% @total += cart_item.subtotal %>
      <%= @total %>
    </div>
    <%= link_to "情報入力に進む", orders_new_path %>
  </div>
  <% end %>
</div>