<h2>注文情報入力</h2>
<div>支払方法
  <div>
    <%= f.label :payment_method, 'クレジットカード' %>
    <%= f.radio_button :payment_method, :credit_card %>
  </div>
  <div>
    <%= f.label :payment_method, '銀行振込' %>
    <%= f.radio_button :payment_method, :transfer %>
  </div>
</div>

<div>お届け先
  <div>
    <%= f.label 
  </div>
</div>