<h2>注文情報入力</h2>
<div>支払方法
  <div>
    <%= f.label :payment_method, "クレジットカード" %>
    <%= f.radio_button :payment_method, :credit_card %>
  </div>
  <div>
    <%= f.label :payment_method, "銀行振込" %>
    <%= f.radio_button :payment_method, :transfer %>
  </div>
</div>

<div>お届け先
  <div>
    <%= f.label :Customer.address, "ご自身の住所" %>
    <%= f.radio_button :Customer.address %>
  </div>
  <div>
    <%= f.label :address, "登録済住所から選択" %>
    <%= f.radio_button :address %>
    <%= f.collection_select :address, @orders, :id, :address %>
  </div>
  <div>
    <%= f.label :address, "新しいお届け先" %>
    <% form_with model: @order do |f| %>
      <%= f.text_field :postal_code %>
      <%= f.text_field :address %>
      <%= f.text_field :name %>
      <%= f.submit "確認画面へ進む" 
    <% end %>
  </div>
</div>