<div>
  <%= @genre each do |genre| %>
    <div>
      <%= @genre.name %>
    </div>
  <% end %>
</div>

<%= image_tag item.get_image %>
<%= form_with model: @item do |item| %>
<%= f.hidden_field
<div>
  <%= @item.name %>
  <%= @item.introduction %>
  <%= @item.add_tax_price %>
  <div>
    <%= f.select :amount, *[1..10] %>
    <%= f.submit 'カートに入れる' %>
  </div>
</div>