<div>
  <%= @genre.each do |genre| %>
    <div>
      <%= @genre.name %>
    </div>
  <% end %>
</div>

<%= image_tag @item.get_image %>
<%= form_with model: @item, url: items_path do |f| %>
<%= f.hidden_field :Order_details.amount, :value => Order_details.amount %>
<div>
  <%= @item.name %>
  <%= @item.introduction %>
  <%= @item.add_tax_price %>
  <div>
    <%= f.select :amount, *[1..10] %>
    <%= f.submit 'カートに入れる' %>
  </div>
<% end %>
</div>